*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 99vh;
    padding: 10px;
}
.cover{
    display: flex;
    border: 1px solid green;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}
form{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
}
form input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 3px;
    outline: none;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
input::placeholder{
    color: black;
    /* padding: 3px; */
}
button{
    background-color: green;
    color: white;
    padding: 6px;
    margin: 5px;
    width: 25%;
    border-radius: 6px;
    border: none;
}
button, input:hover{
    cursor: pointer;
}